/*.navbar-custom-title {

display: flex;
color: black;
font-family: "Raleway";
font-weight: bolder;
justify-content: left;
height: 5vh;
margin: 10px;


}


.navbar-custom-title h1{
font-size: 50px;


}


h1 .navbar-custom-title {
font-size: 50px;

}


h1{
  font-family: Raleway;
/*  font-stretch:extended;*/
/*  transform:scale(2,1);*/
/*  position:absolute;*/

/*  font-weight: bolder;*/
  /*text-decoration: none;*/

/*}

h2 {
  font-family: Raleway;
  font-weight: lighter;
  font-size: 20px;
  margin-left: 25px;




}
*/



.navbar-custom {
  margin-top: 10px;
  background: yellow;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  /*padding-bottom: 80px*/;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  transition: all 0.3s ease;

}

.navbar-custom-title {
  color: #FF101F;
  font-size: 55px;
  text-decoration: none;
}

.navbar-custom-title:hover {
  text-decoration: none;
  cursor: pointer;
  padding: 0px 30px;
  color: #FF101F;
  border: 1px solid #FF101F;
  border-radius: 50px;
/*  padding: 5px 5px;*/
  font-weight: lighter;
}



.navbar-custom-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace;
}

.navbar-custom-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 10px;

}

.navbar-custom-link {
  color: #FF101F;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease;


}
.navbar-custom-link:hover {
  text-decoration: none;
  color: #FF101F;
  font-style: italic;


}
